<div class="page-wrapper">

  <!-- Loader (FIXED POSITION) -->
  <div *ngIf="loading" class="loading-overlay">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <!-- Page Title -->
  <div class="page-title">
    <h1>Welcome to Crescent User Management System</h1>
    <p>Please login to continue</p>
  </div>

  <p-card styleClass="login-card">

    <ng-template pTemplate="header">
      <div class="card-header">
        <h2>Login</h2>
        <span>Access your account</span>
      </div>
    </ng-template>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

      <div class="field">
        <label><i class="pi pi-envelope"></i> Email</label>
        <span class="p-input-icon-left w-full">
          
          <input pInputText formControlName="email" placeholder="Enter your email" class="w-full" />
        </span>
      </div>

      <div class="field">
        <label>Password</label>
        <p-password formControlName="password"
          [toggleMask]="true"
          placeholder="Enter your password"
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full">
        </p-password>
      </div>

     <p-button
  type="submit"
  label="Login"
  icon="pi pi-sign-in"
  styleClass="login-btn w-full"
  [disabled]="loginForm.invalid || loading">
</p-button>

    </form>

  </p-card>

</div>